@{ 
    ViewBag.Title = "Sitemap";
}
<div ng-app="SiteMapModule" ng-controller="SiteMapController">
    <div fusioncharts 
         align="center"
         width="1000"
         height="400"
         type="msline"
         chart="{{chartAttrs}}"
         categories="{{chartCategories}}"
         dataset="{{chartValues}}">
    </div>

    <hr />
    <h1>Sitemap of <a href="{{sitemap.url}}">{{sitemap.url}}</a></h1>
    <hr />

    <a asp-action="Index">Back</a> |
    <a href="/Sitemap/Download/?siteUrl={{sitemap.url}}" download="sitemap.xml">
        Sitemap.xml
    </a>

    <br />
    <br />
    <input id="btnDiagnostic" type="button" value="Diagnostic" class="btn btn-primary" data-ng-click="toDiagnose();"/>
    <span ng-show="isDiagnose" class="ng-hide">
        <input id="btnStop" type="button" value="Stop" class="btn btn-danger" data-ng-click="stopDiagnose();" />
    </span>

    <hr />
    <div id="currProcessDiagnostic" data-ng-bind="process"></div>
    <div id="currUrlDiagnostic" data-ng-bind="processUrl"></div>
    <hr />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>№</th>
                <th>Page</th>
                <th>MinTime</th>
                <th>MaxTime</th>
                <th>TimeDiagnostic</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="urlInfo in sitemap.map | startFrom: (currentPage - 1) * pageSize | limitTo: pageSize">
                <td>{{$index + 1 + (currentPage - 1) * pageSize}}</td>
                <td><a href="{{urlInfo.url}}">{{urlInfo.url}}</a></td>
                <td>{{urlInfo.minRequestTime}}</td>
                <td>{{urlInfo.maxRequestTime}}</td>
                <td>{{urlInfo.requestsTimeLog}}</td>
            </tr>
        </tbody>
    </table>

    <ul uib-pagination rotate="false" force-ellipses="true" total-items="sitemap.map.length" ng-model="currentPage" items-per-page="pageSize" ng-click="drawChart();"> </ul>

</div>

@section scripts {
    <script src="~/js/ngModules/Module.js"></script>
    <script src="~/js/ngServices/Service.js"></script>
    <script src="~/js/ngServices/chartService.js"></script>
    <script src="~/js/ngControllers/Controller.js"></script>
}
